body{
    background-color: rgb(192, 207, 167) !important;
}

#mainCardBody {
 background-color: #AA7BC9;
 color: black;
 margin-top: auto;

 border: 4px solid #7B2DB3;
}
    
#cardHeader{
    background-color: rgb(112, 61, 146) ;
}

#hiScoreCard{
margin-top: 10px !important;
}

#scoreHeader{
    /* background-color:  rgb(112, 61, 146); */
    }

footer{
    background-color:  rgb(112, 61, 146);
}    